{
  "extends": "airbnb-base",
  "plugins": ["import"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "implicit-arrow-linebreak": "off",
    "curly": "off",
    "operator-linebreak": "off",
    "function-paren-newline": "off"
  },
  "env": {
    "jest": true
  },
  "ignorePatterns": "node_modules|.vscode",
}
