{
  "extends": "airbnb-base",
  "plugins": ["import"],
  "rules": {
    "arrow-parens": ["error", "always"],
    "implicit-arrow-linebreak": "off"
  },
  "env": {
    "jest": true
  },
  "ignorePatterns": "node_modules|.vscode"
}
